img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 2em;
    box-shadow: 5px 0px black;
}
img:hover{
    transform: scale(-1.25, 1.25);
    transition: 3s;
    translate: 20px, -20px;
}
h2{
    color:yellow;
    font-weight: 100;
    text-shadow: 3px -2px green;
}
h2:hover{
    transform: scale(-1, 1);
    transition: 3s;
    translate: 10px, -10px;
    color: lightgreen;
}
h1{
    color:yellow;
    font-weight: 100;
    text-shadow: 3px -2px green;
}
h1:hover{
    transform: scale(-1, 1);
    transition: 3s;
    
    color: lightgreen;
}