---
import Navbar from "./Navbar.astro";
import "../../public/styles.module.css";
---

<body>
  <Navbar />

  <header>
    <div
      class="container d-flex"
      style="justify-content:space-between;  align-items:center;"
    >
      <div>
        <h2 id="h2">Tienda Naturista Don Diego</h2>
      </div>
      <div>
        <img src="../../public/Imagenes/image0.jpg" id="img"/>
      </div>

      <div>
        <h1 style="color: yellow" id="h1">TND</h1>
      </div>
    </div>
  </header>
  <script src="../../src/app.js"></script>
</body>
